{% include "partials/header.html" %}

{% load static %}

<head>
    <style>
        .full-screen-image {
            width: 100%;
            text-align: center;
            padding: 40px 0;
        }

        .full-screen-image img {
            width: 100%;
            height: auto;
            max-height: 90vh;
            object-fit: contain;
        }
    </style>
</head>

    {% block main %}

        <div class="full-screen-image">
            <picture>
                <source media="(max-width: 768px)" srcset="{% static 'images/preturi-mobile.webp' %}">
                <img src="{% static 'images/preturi.webp' %}" alt="Preturi">
            </picture>
        </div>

    {% endblock main %}

{% include "partials/footer.html" %}